<div class="user_show">
	<p><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: "jpeg", fallback: "no_image.jpeg" %></p>
	<p>名前 : <%= @user.name %></p>
	<p>自己紹介 : <%= @user.introduction %></p>
	<% if @user.id == current_user.id %>
		<%= link_to "プロフィール編集", edit_user_path(@user.id)%>
	<% end %>
	<div class="participation_plans">
		<% @participates.each do |participate| %>
			<div class="participate_plan">
			  <p><%= attachment_image_tag participate.event, :event_image, :fill, 325, 210, format: 'jpeg' %></p>
			  <p>タイトル : <%= participate.event.title %></p>
			  <p>日程 : <%= participate.event.date %></p>
			  <p>場所 : <%= participate.event.place %></p>
			  <p>参加人数 : <%= Participate.where(event_id: participate.event.id ).count %>/<%= participate.event.capacity %>名</p>
			  <% if Participate.where(event_id: participate.event_id, user_id: current_user.id) != [] %>
				  <p><%= link_to "トークルームへ", event_path(participate.event) %></p>
				  <p><%= link_to "参加取消", event_participates_path(participate.event), method: :delete %></p>
			  <% elsif Participate.where(event_id: participate.event_id).count >= participate.event.capacity %>
			  	  <p>満員</p>
			  <% else %>
			  	  <p><%= link_to "参加", event_participates_path(participate.event), method: :post %></p>
			  <% end %>
			</div>
		<% end %>
	</div>
</div>
