<div class="user_show">
	<p><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: "jpeg", fallback: "no_image.jpeg" %></p>
	<p>名前 : <%= @user.name %></p>
	<p>自己紹介 : <%= @user.introduction %></p>
	<% if @user.id == current_user.id %>
		<%= link_to "プロフィール編集", edit_user_path(@user.id)%>
	<% end %>
	<div class="participation_plans">
		<% @participates.each do |participate| %>
			<div class="participate_plan">
			  <p><%= attachment_image_tag participate.event, :event_image, :fill, 325, 210, format: 'jpeg' %></p>
			  <p>タイトル : <%= participate.event.title %></p>
			  <p>日程 : <%= participate.event.date %></p>
			  <p>場所 : <%= participate.event.place %></p>
			  <div id="mypage_participate_btn_<%= participate.event.id %>"><%= render partial: 'users/mypage_participate', locals: { participate: participate } %>
				 </div>
			</div>
		<% end %>
	</div>
</div>
