<div class="user_show">
	<p><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: "jpeg", fall_back: "no_image.jpeg"%></p>
	<p>名前 : <%= @user.name %></p>
	<p>自己紹介 : <%= @user.introduction %></p>
	<% if @user.id == current_user.id %>
		<%= link_to "プロフィール編集", edit_user_path(@user.id)%>
	<% end %>
	<div calss="participation_plans">
		<% @participates.each do |participate| %>
		  <p><%= attachment_image_tag participate.event, :event_image, :fill, 100, 100, format: 'jpeg' %></p>
		  <p>タイトル : <%= participate.event.title %></p>
		  <p>日程 : <%= participate.event.date %></p>
		  <p>場所 : <%= participate.event.place %></p>
		  <p>定員 : <%= participate.event.capacity %>人</p>
		  <p><%= link_to "詳細", event_path(participate.event) %></p>
		  <%= link_to "参加取消", event_participates_path(participate.event), method: :delete %>
		<% end %>
	</div>
</div>
