<div class="event_index">
	<div class="ransack">
		<%= search_form_for @search do |f| %>
			<%= f.search_field :title_cont, :placeholder => "キーワードを入力", class: "search_form" %>
			<%= f.submit %>
		<% end %>
	</div>

	<div class="event_boxes clearfix">
		<% @events.each do |event| %>
			<div class="event_box" id="event_box_hover">
				 <div id="event_image"><%= attachment_image_tag event, :event_image,:fill, 325, 210, format:'jpeg' %></div>
				 <p>タイトル : <%= event.title %></p>
				 <p>日程 : <%= event.date %></p>
				 <p>場所 : <%= event.place %></p>

				 <div id="participate_btn_<%= event.id %>"><%= render partial: 'events/participate', locals: { event: event } %>
				 </div>
			</div>
		<% end %>
	</div>
</div>
	<p><%= paginate @events, class: "paginate" %></p>

