<div class="event_index">
	<div class="ransack">
		<%= search_form_for @search do |f| %>
			<%= f.search_field :title_cont, :placeholder => "キーワードを入力", class: "search_form" %>
			<%= f.submit %>
		<% end %>
	</div>

<% @events.each do |event| %>
	<div class="event_box">
		 <%= attachment_image_tag event, :event_image,:fill, 325, 210, format:'jpeg' %>
		 <p>タイトル : <%= event.title %></p>
		 <p>日程 : <%= event.date %></p>
		 <p>場所 : <%= event.place %></p>
		 <p>参加人数 : <%= event.participates.count %>/<%= event.capacity %>名</p>

			<%= render partial: 'events/participate', locals: { event: event } %>

		 <% if event.user == current_user %>
		 	<%= link_to "削除", event_path(event),method: :delete %>
		 	<%= link_to "編集", edit_event_path(event) %>
		 <% end %>
	</div>


<% end %>
</div>