<div class="event_index">
	<div class="ransack">
		<%= search_form_for @search do |f| %>
			<%= f.search_field :title_cont, :placeholder => "キーワードを入力", class: "search_form" %>
			<%= f.submit '検索',class: 'search_btn'  %>
		<% end %>
	</div>
	<div class="index_border">EVENTS</div>
	<div class="event_boxes clearfix">
		<% @events.each do |event| %>
			<div class="event_box event_box_hover">
				<div class="event_image_wrap">
					<div class="event_image">
						<%= attachment_image_tag event, :event_image,:fill, 325, 210, format:'jpeg' %>
					</div>
				</div>
				<div class="description">
					<div  class = "description-text" >
						<%= event.description %>
					</div>
				</div>
				<p class="event_title">
					<span class="hashtag">
						<%= fa_icon("hashtag") %>
					</span>
					<%= event.title %>
				</p>
				<p class="event_date">
					<span class="calendar">
						<%= fa_icon("calendar") %>
					</span>
					: <%= event.date %>
				</p>
				<p class="event_place">
					<span class="map-marker">
						<%= fa_icon("map-marker") %>
					</span>
					: <%= event.place %>
				</p>
				<div id="participate_btn_<%= event.id %>">
					<%= render partial: 'events/participate', locals: { event: event } %>
				</div>
			</div>
		<% end %>
	</div>
</div>
<p><%= paginate @events, class: "paginate" %></p>
<script>
  $(function() {
    $('.event_box_hover').hover(
      function(){
        $(this).find('.description').fadeIn(150);
        $(this).find('.description-text').fadeIn(500);
        $(this).find('.event_image').css('transform','scale(1.05)').css('transition-duration','0.3s');
        $(this).css('border-bottom','2px solid black');
      },
      function(){
        $(this).find('.description').fadeOut();
        $(this).find('.description-text').fadeOut(500);
        $(this).find('.event_image').css('transform','scale(1.0)');
        $(this).css('border-bottom','1px solid #DDDDDD');
      }
    );
  });
</script>
