<div class="event_index">
	<div class="ransack">
		<%= search_form_for @search do |f| %>
			<%= f.search_field :title_cont, :placeholder => "キーワードを入力", class: "search_form" %>
			<%= f.submit %>
		<% end %>
	</div>

	<div class="event_boxes clearfix">
		<% @events.each do |event| %>
			<div class="event_box event_box_hover">
				<div class="event_image_wrap">
				 <div class="event_image"><%= attachment_image_tag event, :event_image,:fill, 325, 210, format:'jpeg' %>
				 </div>
				</div>
				 <div class="description">
				 	<div  class = "description-text" >
				 		<%= event.description %>
				 	</div>
				 </div>
				 <p class="event_title">
				 	<span class="hashtag">
				 		<%= fa_icon("hashtag") %>
				 	</span>
				 	<%= event.title %>
				 </p>
				 <p class="event_date">
				 	<span class="calendar">
				 		<%= fa_icon("calendar") %>
				 	</span>
				 	: <%= event.date %>
				 </p>
				 <p class="event_place">
				 	<span class="map-marker">
				 		<%= fa_icon("map-marker") %>
				 	</span>
				 	: <%= event.place %>
				 </p>

				 <div id="participate_btn_<%= event.id %>"><%= render partial: 'events/participate', locals: { event: event } %>
				 </div>
			</div>
		<% end %>
	</div>
</div>
<p><%= paginate @events, class: "paginate" %></p>

